@model SportShop2025.Data.Customer

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="category-container">
    <h4 class="category-title">Customer Detail</h4>
    <hr />
    <hr />

    @if (ViewBag.MessageDelete != null)
    {
        <div class="alert-success MessageDelete">
            @ViewBag.MessageDelete
        </div>
    }

    @if (ViewBag.MessageDeleteSuccess != null)
    {
        <div class="alert-success MessageDeleteSuccess">
            @ViewBag.MessageDeleteSuccess
        </div>
    }

    @if (ViewBag.MessageNoDelete != null)
    {
        <div class="alert-success MessageNoDelete">
            @ViewBag.MessageNoDelete
        </div>
    }

    <hr />
    <dl class="product-details row">
        <dt class="product-label col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class="product-value col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class="product-label col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="product-value col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="product-label col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class="product-value col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class="product-label col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="product-value col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="product-label col-sm-2">
            @Html.DisplayNameFor(model => model.RegistrationDate)
        </dt>
        <dd class="product-value col-sm-10">
            @Html.DisplayFor(model => model.RegistrationDate)
        </dd>
    </dl>

    <div class="product-actions">
        <form asp-action="ConfirmDelete">
            <input type="hidden" asp-for="CustomerId" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-action="ListCustomer" class="btn btn-back">Back to List</a>
        </form>
    </div>
</div>
