@model SportShop2025.Data.Customer
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="product-container">
    <h4 class="product-title">Customer Detail</h4>
    <hr />
    <dl class="product-details row">
        <dt class="product-label col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class="product-value col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class="product-label col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="product-value col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="product-label col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class="product-value col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class="product-label col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="product-value col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="product-label col-sm-2">
            @Html.DisplayNameFor(model => model.RegistrationDate)
        </dt>
        <dd class="product-value col-sm-10">
            @Html.DisplayFor(model => model.RegistrationDate)
        </dd>
    </dl>
</div>
<div class="product-actions">
    <a asp-action="Edit" asp-route-id="@Model?.CustomerId" class="btn btn-edit">Edit</a> |
    <a asp-action="ListCustomer" class="btn btn-back">Back to List</a>
</div>